<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
      <add key="Columbia-CSC" value="https://pkgs.dev.azure.com/columbia1938/_packaging/Columbia-CSC/nuget/v3/index.json" />
	  <add key="RES" value="https://pkgs.dev.azure.com/columbia1938/_packaging/RES/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>