h2 {
    font-weight: bold;
    font-size: 50px;
}

p {
    font-size: 25px;
}

.main-body-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    text-align: center;
    gap: 20px;
}

.get-started-btn {
    font-size: 20px;
    background-color: #007ab8;
    color: white;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 1rem;
}