@page "/"

<PageTitle>Retail Price Checker App</PageTitle>

<div class="main-body-container">
    <h2>Retail Price Checker</h2>
    <p>Use our Price Checker tool for an accurate look up of any Columbia retail product. Enter the product's Universal Product Code to display the price, image, and description of the item.</p>
    <NavLink class="nav-link" href="price-check">
        <button class="get-started-btn">Get Started</button>
    </NavLink>
</div>


